<footer>
	<nav class="py-4">
		<ul
			class="flex justify-between uppercase font-medium text-sm text-transparent md:text-base"
		>
			<li>
				<a class="silver hover:brightness-150" href="#"
					>terms & agreements</a
				>
			</li>
			<li>
				<a class="silver hover:brightness-150" href="#"
					>©all rights reserved</a
				>
			</li>
			<li>
				<a class="silver hover:brightness-150" href="#"
					>privacy policy</a
				>
			</li>
		</ul>
	</nav>
</footer>
