<header class="mb-setion">
    <nav class="py-4">
        <ul class="flex justify-between uppercase font-medium text-sm text-transparent md:text-base">
            <li>
                <a class="silver hover:brightness-150" href="#">hire us</a>
            </li>
            <li>
                <a class="silver text-lg hover:brightness-150 md:text-xl " href="#">architecte</a>
            </li>
            <li>
                <a class="silver hover:brightness-150" href="#">menu</a>
            </li>
        </ul>
    </nav>
</header>