<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">we are your partner in building a legacy</h2>
    <p class="neutral-100 opacity-50 text-sm md:text-base">
        with passion and thoughts, we help bring your vision to reality and overcome any engineering and technical challenge, without doubt
    </p>
</section>