---
import TeamCard from "../utils/TeamCard.astro";

---

<section class="mb-section">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
        <h2 class="text-title">
            meet our people
        </h2>
        <p class="text-sm opacity-50 md:text-base">
            meet the best expert talents from our team who are ready to be your partners
        </p>
    </header>
    <section class="h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4">
        <TeamCard name="Thomas Mueler" alt="some people" src="public/images/team/man_01.jpg"/>
        <TeamCard name="Daniel Salasar" alt="some people" src="public/images/team/man_02.jpg"/>
        <TeamCard name="Eduardo Franco" alt="some people" src="public/images/team/man_03.jpg"/>
        <TeamCard name="Max Alfredo" alt="some people" src="public/images/team/man_04.jpg"/>
    </section>
</section>