---
interface Props{
    src : string,
    alt : string,
    title : string,
    href? : string,
}
const {src,alt , title , href = "#"} = Astro.props;
---
<a class="block relative w-full h-full cursor-pointer group" href={href}>
    <img class="w-full h-full object-cover" src={src} alt={alt}>
    <div class="bg-slate-500 bg-opacity-20 absolute inset-0 flex justify-center items-center flex-col gap-1 backdrop-blur-md translate-y-full group-hover:translate-y-0 transition-transform md:gap-2">
        <h3 class="text-2xl font-medium text-center md:text-3xl lg:text-4xl">
            {title}
        </h3>
        <div class="flex items-center gap-1 text-base md:text-lg">
            <img class="w-8 opacity-0" src="svg/arrow.svg" alt="arrow">
            <span>view more</span>
            <img class="w-8" src="svg/arrow.svg" alt="arrow">
        </div>
    </div>
</a>