---
import "../global/styles/defaults.css"
import "../global/styles/custom.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Luxury Architect</title>
	</head>
	<body class="text-neutral-50 bg-zinc-950 uppercase">
		<slot/>
	</body>
</html>
